services:
  nats-server:
    image: nats:2.10.25-alpine3.21
    ports:
      - "8222:8222"

  api-gateway:
    build: ./api-gateway
    ports:
      - "${API_GATEWAY_PORT}:${API_GATEWAY_PORT}"
    volumes:
      - ./api-gateway/src:/src/app/src
      - ./api-gateway/uploads:/src/app/uploads
      - ./api-gateway/uploads/cv:/src/app/uploads/cv
    command: npm run start:dev
    environment:
      - NATS_SERVERS=nats://nats-server:4222
      - PORT=${API_GATEWAY_PORT}
      - JWT_SECRET=${JWT_SECRET}
      - CORS_ORIGINS=${CORS_ORIGINS}

  users:
    build: ./users
    volumes:
      - ./users/src:/src/app/src
    depends_on:
      users-db:
        condition: service_healthy
    environment:
      - NATS_SERVERS=nats://nats-server:4222
      - DB_HOST=users-db
      - DB_PORT=${USERS_DB_PORT}
      - DB_USERNAME=${USERS_DB_USER}
      - DB_PASSWORD=${USERS_DB_PASSWORD}
      - DB_DATABASE=${USERS_DB_NAME}
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_SECURE=${SMTP_SECURE}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASS=${SMTP_PASS}
      - EMAIL_FROM=${EMAIL_FROM}
      - JWT_SECRET=${JWT_SECRET}

  users-db:
    build:
      context: ./users
      dockerfile: Dockerfile.postgres
    ports:
      - "${USERS_DB_PORT}:${USERS_DB_PORT}"
    environment:
      - POSTGRES_USER=${USERS_DB_USER}
      - POSTGRES_PASSWORD=${USERS_DB_PASSWORD}
      - POSTGRES_DB=${USERS_DB_NAME}
    volumes:
      - ./users/postgres-data:/var/lib/postgresql/data
      - ./users/postgres-init:/docker-entrypoint-initdb.d
    command: >
      postgres
      -c listen_addresses='*'
      -c max_connections=100
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${USERS_DB_USER} -d ${USERS_DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

  projects:
    build: ./projects
    volumes:
      - ./projects/src:/src/app/src
    depends_on:
      projects-db:
        condition: service_healthy
    environment:
      - NATS_SERVERS=nats://nats-server:4222
      - DB_HOST=projects-db
      - DB_PORT=5432
      - DB_USERNAME=${PROJECTS_DB_USER}
      - DB_PASSWORD=${PROJECTS_DB_PASSWORD}
      - DB_DATABASE=${PROJECTS_DB_NAME}
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_SECURE=${SMTP_SECURE}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASS=${SMTP_PASS}
      - EMAIL_FROM=${EMAIL_FROM}
      - FRONTEND_URL=${FRONTEND_URL}

  projects-db:
    build:
      context: ./projects
      dockerfile: Dockerfile.postgres
    ports:
      - "${PROJECTS_DB_PORT}:5432"
    environment:
      - POSTGRES_USER=${PROJECTS_DB_USER}
      - POSTGRES_PASSWORD=${PROJECTS_DB_PASSWORD}
      - POSTGRES_DB=${PROJECTS_DB_NAME}
    volumes:
      - ./projects/postgres-data:/var/lib/postgresql/data
      - ./projects/postgres-init:/docker-entrypoint-initdb.d
    command: >
      postgres
      -c listen_addresses='*'
      -c max_connections=100
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U ${PROJECTS_DB_USER} -d ${PROJECTS_DB_NAME}",
        ]
      interval: 5s
      timeout: 5s
      retries: 5

  publications:
    build: ./publications
    volumes:
      - ./publications/src:/src/app/src
    depends_on:
      publications-db:
        condition: service_healthy
    environment:
      - NATS_SERVERS=nats://nats-server:4222
      - DB_HOST=publications-db
      - DB_PORT=5432
      - DB_USERNAME=${PUBLICATIONS_DB_USER}
      - DB_PASSWORD=${PUBLICATIONS_DB_PASSWORD}
      - DB_DATABASE=${PUBLICATIONS_DB_NAME}

  publications-db:
    build:
      context: ./publications
      dockerfile: Dockerfile.postgres
    ports:
      - "${PUBLICATIONS_DB_PORT}:5432"
    environment:
      - POSTGRES_USER=${PUBLICATIONS_DB_USER}
      - POSTGRES_PASSWORD=${PUBLICATIONS_DB_PASSWORD}
      - POSTGRES_DB=${PUBLICATIONS_DB_NAME}
    volumes:
      - ./publications/postgres-data:/var/lib/postgresql/data
      - ./publications/postgres-init:/docker-entrypoint-initdb.d
    command: >
      postgres
      -c listen_addresses='*'
      -c max_connections=100
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U ${PUBLICATIONS_DB_USER} -d ${PUBLICATIONS_DB_NAME}",
        ]
      interval: 5s
      timeout: 5s
      retries: 5
