apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: conexia-ingress
  annotations:
    networking.gke.io/managed-certificates: conexia-certificate
    kubernetes.io/ingress.class: "gce"
spec:
  rules:
    - host: api.34.36.140.43.nip.io
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: api-gateway
                port:
                  number: 3000
