apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: nats
  name: nats
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nats
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nats
    spec:
      containers:
        - image: nats
          name: nats
          args: ["-c", "/etc/nats/nats.conf"]
          volumeMounts:
            - name: nats-config
              mountPath: /etc/nats
          resources: {}
      volumes:
        - name: nats-config
          configMap:
            name: nats-config
status: {}
